* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0;
    background-color: #fff;
    width: 90rem;
  }

html {
    scroll-behavior: smooth;
}

:root {
	--primary: #ff4646;
	--dark: #181c29;
	--static-white: #fff;
	--content-background: #ecf3f8;
	--tag-purple: #4361ff;
	--tag-pink: #ff43f7;
	--tag-green: #06a44f;
	--primary-10: rgba(255, 70, 70, 0.1);
	--static-white-20: rgba(255, 255, 255, 0.2);
	--static-white-40: rgba(255, 255, 255, 0.4);
	--overlay: rgba(24, 28, 41, 0.8);
    --font-family: "Montserrat", sans-serif;
    --second-family: "Allura", sans-serif;
    --third-family: "SF Pro", sans-serif;
}

#header {
    overflow: hidden;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 82px;
    padding-right: 82px;
    height: 64px;
    width: 100%;
    margin-top: -1px;
}

.icon {
    width: 141px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;
}

.text-icon {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
    margin-left: 8px;
    margin-top: 3px;
}

.img-icon {
    width: 21px;
    height: 24px;
}

.header-ul {
    display: flex;
    gap: 8px;
}

.header-li {
    list-style: none;
}

.header-link {
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
    transition: 0.4s;
    padding: 12px 20px;
    &:hover {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 12px;
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #ff4646;
        background: rgba(255, 70, 70, 0.1);
        border-radius: 12px;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); 
    transition: opacity 0.3s ease;
    z-index: 4;
}

.burger-menu {
    z-index: 20;
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 16px 10px;
}

.burger-menu::before,
.burger-menu::after {
    content: " ";
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #181C29;
    border-radius: 1.25rem;
    transition: all 0.3s ease 0s;
}

.burger-menu::before {
    top: 40%;
    left: 25%;
}

.burger-menu::after {
    bottom: 35%;
    left: 25%;
}

.burger-menu.active-icon {
    transform: none;
}

.burger-menu.active-icon::before {
    top: 45%;
    transform: rotate(45deg);
}

.burger-menu.active-icon::after {
    bottom: 50%;
    transform: rotate(-45deg);
}


.hero {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 524px;
    background: var(--primary);
    background-image: url('assets/img-compressed/img-compressed/bg-ball.png'), url('assets/img-compressed/img-compressed/bg-snow.png');
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-hero {
    padding: 60px 0px;
    width: 26.78rem;
    height: 404px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.box-hero-curs {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}

.box-hero-head {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.box-hero-button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
    padding: 20px 32px;
    background: var(--dark);
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
        color: #181c29;
        background: #fff;
    }
}

#about {
    width: 100%;
    height: 648px;
    background: var(--primary);
    background-image: url('assets/img-compressed/img-compressed/bg-snow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-about {
    border-radius: 20px;
    width: 79.75rem;
    height: 528px;
    background: var(--static-white);
    display: flex;
}

.text-about {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 0px;
    width: 26.62rem;
    height: 328px;
    margin-left: 60px;
    margin-top: 100px;
    margin-right: 152px;
}

.box-about-cur {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    color: var(--primary);
}

.box-about-head {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--dark);
}

.box-about-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--dark);
}

.about-img {
    border-radius: 20px;
    width: 39.88rem;
    height: 33rem;
}

.slider {
    width: 100%;
    height: 488px;
    background: var(--primary);
    background-image: url('assets/img-compressed/img-compressed/bg-snow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 62px;
}

.text-cur {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
    margin-bottom: 12px;
}

.text-head {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.slider-wrap {
    margin-left: 82px;
    margin-top: 20px;
    overflow: hidden;
}

.slider-content {
    display: flex;
    gap: 20px;
    position: relative;
    left: 0;
    transition: 1s;
}

.text-slider {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
    display: flex;
    text-align: center;
    line-height: 200px;
}

.img-slider {
    border-radius: 20px;
    width: 12.5rem;
    height: 12.5rem;
}

.button-slider {
    display: flex;
    gap: 20px;
    justify-content: end;
    margin-right: 82px;
    margin-top: 19px;
}

.active {
    border: 1px solid #fff;
    border-radius: 20px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: background 0.4s ease, stroke 0.4s ease;
}


.active:hover {
    background: #fff;
    color: #ff4646;
}

.inactive {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    color: rgba(255, 255, 255, 0.4);
}

#best {
    width: 100%;
    height: 554px;
    background: var(--primary);
    background-image: url('assets/img-compressed/img-compressed/bg-snow.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 60px;
}

.box-gifts {
    display: flex;
    gap: 12px;
    margin-left: 82px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.gift {
    border-radius: 20px;
    width: 19.38rem;
    height: 21.38rem;
    background: var(--content-background);
    cursor: pointer;
    &:hover .text-gift {
        color: #ff4646;
    }
}

.img-gift {
    width: 19.38rem;
    height: 14.38rem;
}

.texts-gift {
    border-radius: 20px;
    padding: 20px;
    width: 19.38rem;
    height: 112px;
    background: var(--static-white);
    margin-top: -3px;
}

.head-text-gift {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.for-work {
    color: var(--tag-purple);
}

.for-health {
    color: var(--tag-green);
}

.for-harmony {
    color: var(--tag-pink);
}

.text-gift {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--dark);
    margin-top: 8px;
    transition: 0.4s;
}

.CTA {
    width: 100%;
    height: 668px;
    border-radius: 0 0 20px 20px;
    background: var(--primary);
    background-image: url('assets/img-compressed/img-compressed/bg-forest.png'), url('assets/img-compressed/img-compressed/bg-snow.png');
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-CTA {
    padding: 48px 0px;
    width: 26.62rem;
    height: 404px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.box-CTA-head {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
}

.box-CTA-curs {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--static-white);
}

.countdown {
    border-radius: 20px;
    padding: 8px 12px 12px 12px;
    width: 344px;
    height: 72px;
    background: var(--static-white-40);
    margin-top: -12px;
    display: flex;
    gap: 6px;
}

.countdown-item {
    text-align: center;
    width: 70px;
    height: 52px;
}
  
  .countdown-number {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
  }
  
  .countdown-label {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: var(--static-white);
  }
  
  .separator {
    width: 1px;
    height: 20px; 
    background-color: var(--static-white-40);
    opacity: 0.7;
    margin-top: 16px;
  }

#footer {
    width: 100%;
    height: 496px;
    background: var(--static-white);
}

.box-contacts {
    width: 79.75rem;
    display: flex;
    gap: 12px;
    margin-left: 82px;
    margin-top: 60px;
}

.boxs-contacts {
    width: 100%;
    border-radius: 20px;
    height: 204px;
    background: var(--content-background);
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}

.boxs-contacts:hover .head-text-contacts,
.boxs-contacts:hover .text-contacts {
    color: #ff4646;
}

.head-text-contacts {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 152%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    margin-top: 12px;
    margin-bottom: 12px;
    transition: 0.4s;
}

.text-contacts {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: var(--dark);
    transition: 0.4s;
}

.img-contacts {
    width: 80px;
    height: 80px;
    margin-left: 40%;
}

.box-link-social {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
}

.social-icon {
    text-decoration: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon svg path {
    transition: stroke 0.4s ease;
}

.social-icon:hover svg path {
    stroke: #ff4646;
}

.box-icon-social {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.text-social {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    text-align: center;
    color: var(--dark);
}

.text-social-cur {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--dark);
    text-decoration: none;
    transition: 0.4s;
    &:hover {
        color: #ff4646;
    }
}

.modal-window {
    border-radius: 20px;
    width: 400px;
    height: 514px;
    max-width: 400px;
    background: var(--content-background);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row-reverse;
    display: flex;
    z-index: 1001;
    opacity: 0; 
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
}

.modal-window-active {
    opacity: 1; 
    transform: translate(-50%, -50%);
    visibility: visible;
}

.modal-window.closing {
    opacity: 0;
    transform: translate(-50%, -50%);
}

.button-pop-up {
    position: fixed;
    margin: 12px;
    cursor: pointer;
}

.img-pop-up {
    width: 400px;
    height: 230px;
    object-fit: cover;
    top: -40px;
}

.content-pop-up {
    background: var(--static-white);
    border-radius: 20px;
    padding: 20px;
    width: 400px;
}

.head-text-gift-pop-up {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.text-gift-pop-up {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 152%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--dark);
}

.pop-up-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--dark);
}

.superpowers {
    margin-top: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--dark);
}

.superpowers-head {
    margin-bottom: 8px;
}

.content-pop-up {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.settings {
    display: flex;
    height: 24px;
    gap: 12px;
}

.heade-settings {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--dark);
    width: 184px;
}

.bonus {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 148%;
    color: var(--dark); 
    width: 42px;
}

.score {
    display: flex;
    gap: 8px;
    align-items: center;
}

.inactive-score path {
    fill: var(--primary-10);
}

.overlay.active-overlay {
    display: block;
    opacity: 1; 
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 999; 
    transition: opacity 0.3s ease;
}

.modal-overlay-active {
    opacity: 1;
    visibility: visible;
}


@media (max-width: 1439px) {
    body {
        width: auto;
    }

    .box-about {
        width: 47rem;
        max-width: 79.75rem;
    }

    .about-img-container {
        border-radius: 1.25rem;
        width: 23.5rem;
        height: 33rem;
        overflow: hidden;
    }

    .about-img {
        position:relative;
        left: -8.19rem;
    }

    .text-about {
        width: 16rem;
        height: 27.25rem;
        max-width: 26.62rem;
        margin-right: 60px;
        margin-top: 46px;
    }

    .slider-wrap {
        margin-left: 8px;
    }

    .button-slider {
        margin-right: 8px;
    }

    #best {
        height: 56.75rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    .box-gifts {
        margin-left: 0px;
        width: 633px;
    }

    #footer {
        height: 58rem;
    }

    .box-contacts {
        width: 47rem;
        max-width: 79.75rem;
        flex-wrap: wrap;
        margin-left: 8px;
    }

    .img-contacts {
        margin-left: 44%;
    }
    
}

@media (max-width: 767px) {
    .burger-menu {
        display: block;
    }

    .menu {
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .header-nav {
        position: fixed;
        width: 100%;
        height: 100%;
        background: var(--static-white);
        top: 0;
        z-index: 10;
        right: 0; 
        transform: translateX(100%);
        transition: transform 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        display: none; 
    }
    
    .header-nav.active-menu {
        transform: translateX(0);
        opacity: 1;
        display: block;
    }

    .header-ul {
        display: flex;
        flex-direction: column;
        gap: 33px;
        justify-content: center;
        align-items: center;
        margin-top: 27.4rem;
        margin-left: 15px;
    }

    .header-lir {
        list-style: none;
        padding: 12px 20px;
    }

    .header-link {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 152%;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        color: var(--dark);
        text-decoration: none;
        &:hover {
            font-family: var(--font-family);
            font-weight: 600;
            font-size: 1.5rem;
            line-height: 152%;
            letter-spacing: 0.16em;
            text-transform: uppercase;
            color: var(--dark);
            background-color: var(--static-white);
        }
    }

    .header-ul {
        margin-top: 19.125rem;   
        margin-left: 0px; 
    }

    .hero {
        height: 35.75rem;
    }

    .box-hero {
        padding: 36px 0px
    }

    #about {
        height: 62.5rem;
    }

    .box-about {
        flex-direction: column;
        height: 55rem;
        width: 22.75rem;
    }

    .text-about {
        width: 20.25rem;
        height: 22rem;
        max-width: 26.62rem;
        margin: 0 20px;
    }

    .about-img-container {
        width: 22.75rem;
        height: 33rem;
    }

    .about-img {
        left: -8.42rem;
    }

    #best {
        height: 101rem;
    }

    .box-gifts {
        width: 19.38rem;
        margin-left: 0px;
    }

    .CTA {
        height: 44rem;
    }

    .box-CTA {
        padding: 28px 0;
    }

    #footer {
        height: 58rem;
    }

    .box-contacts {
        width: 22.75rem;
    }

    .img-contacts {
        margin-left: 38%;
    }

    .modal-window {
        width: 364px;
    }

    .heade-settings {
        width: 148px;
    }

    .content-pop-up {
        width: 364px;
    }

    .img-pop-up {
        width: 364px;
    }
}